body {
	background-color: #f6ffd6;
}

h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: 900; 
	color: #ff4e50;	
	text-shadow: 3px 3px 3px #b8b8b8;
}

h2 {
	margin: 0px;
	padding: 0px;
}

#company-name {
	position: relative;
	bottom: 29px;
}

#header-nav {
	background-color: #eae374;
}

.navbar-toggle {
	position: relative;
	float: right;
	background-color: white;
}

a, a:hover, a:visited {
	text-decoration: none;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid #767676;
}

#collapsable-nav ul li:hover {
	background-color: rgba(251,251,251,0.7);
}

#items {
	margin-top: 20px;
	padding: 10px;
	border: 1px solid black;
}

#items div {
	background-color: white;
	margin: 5px;
}

#div1, #div2, #div3 {
	box-sizing: border-box;
	background-color: #fbfbfb;
	padding: 10px;
	border: 1px solid black;
}